__pycache__/
*.py[cod]
*.pyc
*.session
*.session-journal
bot_conf.*
output.txt
Backups/
.stignore
sophie.log
sophie.*.log.tar.xz
sophie.log.tar.xz
*.zip
XDG_CACHE_HOME
changelog.txt
OrangeFox-temp-builds/