{"basic":{
    "app_id": 20202020,
    "app_hash": "15f6ng92ib02rv6hdznypchdaf2w9jco",
    "bot_token": "676436262:CQnxOF8uVG8QO0eEyMUl3jR0jC9rpiyFzKk",

    "owner_id": 483808054
},
 "advanced":{
    "whitelisted": ["518221376", "000000"]
 }
}