{"basic":{
    "app_id": "APP_ID",
    "app_hash": "APP_HASH",
    "bot_token": "BOT_TOKEN",

    "bot_nick": "BOT_NICK",

    "owner_id": "YOUR_ID",
    "mongo_port": "27017",
    "mongo_conn": "localhost"
},
 "advanced":{
    "sudo": [483808054, 782229305, 654839744],
    "whitelisted": [123456789, 928173281],

    "allow_forwards_commands": false,
    "allow_commands_with_!": false
 }
}
