{"basic":{
    "app_id": "APP_ID",
    "app_hash": "APP_HASH",
    "bot_token": "BOT_TOKEN",

    "bot_nick": "BOT_NICK",

    "owner_id": "YOUR_ID",
    "mongo_port": "27017",
    "mongo_conn": "localhost"
},
 "advanced":{
    "whitelisted": ["518221376", "000000"]
 }
}
