{"basic":{
    "app_id": "APP_ID",
    "app_hash": "APP_HASH",
    "bot_token": "BOT_TOKEN",

    "owner_id": "YOUR_ID",
    "mongo_port": "27017",
    "mongo_conn": "localhost",

    "redis_conn": "localhost",
    "redis_port": 6379
},
 "advanced":{
    "webhooks": false,
    "webhook_host": "https://yourdomain",
    "webapp_host": "localhost",
    "webapp_port": 8031,

    "skip_catch_up": true,
    
    "sudo": [483808054, 782229305, 654839744],
    "whitelisted": [123456789, 928173281],

    "allow_forwards_commands": false,
    "allow_commands_with_!": false,

    "load_components": true,
    "not_load_this_components": ["fox"]
 }
}
