# Sophie example config

# Basic
TOKEN="YOUR_TOKEN"
LOGS_CHANNEL_ID=0
BACKUP_DUMPS_ID=0

# Get they in https://my.telegram.org/
APP_ID=1234
APP_HASH="YOUR_APP_HASH"

MONGO_URI='mongodb://localhost:27017'
MONGO_DB='sophie'

REDIS_URI=localhost
REDIS_PORT=6379
REDIS_DB_FSM=1

OWNER_ID=483808054
OPERATORS=[]

# Advanced
SENTRY_API_KEY="SENTRY_API_URL"
SW_API="SPAMWATCH_API_KEY" 

AUTO_BACKUP=False
BACKUP_PASS="hitsuki"

DEBUG_MODE=False

HANDLE_FORWARDED_COMMANDS=False
